@import './variables';
@import './mixins';

.app {
  font-family: $font-stack;
  background-color: $bg;
  min-height: 100vh;
  padding: 2rem;

  &__header {
    text-align: center;
    color: $primary;
    margin-bottom: 1.5rem;

    h1 {
      font-size: 2.25rem;
      margin: 0;
    }
  }
}
